<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="index-main">
      <%  for(let fruit of allFruits){ %>
        <div class="card card-main" style="width: 18rem;">
          <a href="/fruits/<%=fruit._id%>">
          <img src="<%=fruit.image.url%>" class="card-img-top card-image" alt="fruit_img" ></a>
          <div class="card-body">
            <p class="card-text card-title"><%= fruit.title %></p>
            <p class="card-text"><b><%= fruit.description %></b></p>
            <p class="card-text"><b>&#8377;<%= fruit.price.toLocaleString("en-IN") %></b></p>
            <p class="card-text"><b><%= fruit.country %></b></p>
          </div>
        </div>
  <%  } %>
      </div>
      <br/><br/>
    <form action="/fruits/new" method="get">
      <div class="btn-submit">
      <button class="btn btn-outline-dark">Add new Fruit</button>
    </div>
    </form>
    <br/><br/>
</body>

